/**
 * Validator template for {{MODULE_NAME}}
 * Author: {{AUTHOR}}
 * Version: {{VERSION}}
 */
class {{CLASS_NAME}}Validator {
  constructor() {
    this.module = '{{MODULE_NAME}}';
    this.description = '{{DESCRIPTION}}';
  }
}
